$primary-color: #fffdd0;
$secondary-color: #d0d2ff;

$color-white: #ffffff;
$color-black: #000000;
$color-red: red;
$color-green: green;

$button-border-color: #8B4513;
$button-text-color: $color-black;
$button-active: $color-green;
$button-inactive: $color-red;
